html {
  font-family: sans-serif; /* 1 */
background-image: (to bottom, white 0%, yellow 100%);
}

/**
 * Remove default margin.
 */

body {
  margin: 15px auto;
  padding: 15px 1.5em;
  border: 5px double blue;
  width: 650px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;


}


